.card {
  max-width: 270px;
  min-width: 230px;
  min-height: 190px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #33333323;
  &.border-red {
    border: 1px solid #ff2f2f;
  }
}
