.study {
  margin: auto;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  section {
    border-bottom: 1px dashed #333;
    margin-top: 10px;
    .box-study {
      padding: 10px;
      margin: 10px 0px;
      border: 1px solid #333;
      gap: 10px;
      button {
        margin-right: 5px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-bottom: 20px;
      > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        input {
          padding: 5px;
        }
      }
    }
  }
  select {
    padding: 5px;
  }
}
