.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}
